{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "generator-star-spacing": "off",
    "space-before-function-paren": 0,
    "semi": 0,
    "indent": 0,
    "no-multiple-empty-lines": 0,
    "no-extra-parens": 0,
    "react/prefer-stateless-function": 0,
    "no-console": 0,
    "react/jsx-filename-extension": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "dot-notation": 0,
    "import/prefer-default-export": 0,
    "arrow-body-style": 0,
    "max-len": 0,
    "jsx-quotes": 0,
    "react/self-closing-comp": 0,
    "react/react-in-jsx-scope": 0,
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "comma-dangle": 0,
    "class-methods-use-this": 0,
    "no-debugger": 0,
    "no-class-assign": 0,
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-wrap-multilines": 0,
    "react/jsx-closing-bracket-location": 0,
    "no-param-reassign": 0,
    "react/no-array-index-key": 0,
    "no-underscore-dangle": 0,
    "camelcase": 0,
    "func-names": 0,
    "no-func-assign": 0,
    "react/no-multi-comp": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-else-return": 0,
    "no-throw-literal": 0,
    "arrow-parens": 0,
    "no-alert": 0
  }
}
